*{
    padding: 0px;
    margin: 0px;
}
.menu-bar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}
.company-name{
    padding-left:10px;
    font-size: 20px;
    color: rgb(196, 7, 7);
}
.menu{
    display: flex;
}
.menu li{
    list-style: none; 
    padding: 30px;  
}
.menu li:hover{
    color: blue;
    cursor: pointer;
}
.top-section{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#img-section{
    height: 100vh;
    width:100%;
}
.top-section-left{
    padding-left:20px;
}
.text1{
    color: red;
    font-size: 30px;;
}
.banner-heading{
    font-size: 60px;
    font-weight: bold;
}
.banner-text2{
    font-size: 20px;
}
.learn-more-btn{
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
}
#take-look-title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    margin:20px;
}
.take-look{
    display: flex;
    justify-content: space-between;
}
.card{
    margin:10px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    height: 350px;
    width: 400px;
    box-shadow: 2px 10px 10px gray;
}
.take-look :hover{
    margin-top:-10px;
    transition: .8s;
}
.About-us-title{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;   
}
.about-container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    
}
.about-us-img{
    display: flex;
    justify-content: space-evenly;
    padding:35px;
    border-top: 2px solid red; 
}
.img-style{
    height: 100vh;
    padding:10px;
    transform: skewY(-15deg);
}
.about-us-text{
    margin-left: 5px;
    color: white;
    border-top: 2px solid gray;
    padding: 30px;
}
.about-us-text-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about-us-lorem{
    font-size: 30px;
    margin-bottom: 20px;
}
.about-more-btn{
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.footer-container{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-top: 2px solid gray;
    padding: 50px;
}